# данные большие и чужие, в репозиторий не кладем
data/

# личные файлы, в командный репозиторий не идут
materials/

# окружения и служебное
.venv/
__pycache__/
.ipynb_checkpoints/
.DS_Store
/План проекта.xlsx
